
@{
    ViewBag.Title = "ContactEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div style="margin-top:20px;margin-bottom:20px;"><a href="/Home/ContactCreate">create new</a></div>
</div>
<div class="row">
    @Html.Action("GetContactLists")
</div>