<?xml version="1.0"?>
<configuration>
    <system.web>
      <authentication mode="Forms">
        <!---->
      <forms cookieless="AutoDetect" defaultUrl="/Userhome/ProfileView" loginUrl="/Account/login">
        
      </forms>
      </authentication>
    <authorization>
      <allow roles="User"/>
      <deny users="*"/> 
    </authorization>
</system.web>
</configuration>
