@model CruiseEntertainmentManagnmentSystem.Models.PersonalInformationForm
@{
    Layout = null;
}

<div style="width:100%;font-size: 12px;margin:0 auto;">
    <div style="text-align:center;"><img src="~/Images/User/PIF.jpg" /></div>
    <div style="text-align:center;"><h4>PERSONAL INFORMATION FORM</h4></div>
    <div style="width:100%;display:flex;">
        <div style="width:50%;border-left:1px solid grey;border-top:1px solid grey; border-bottom:1px solid grey;">
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <p>Name as appears in passport</p>
                <label>FIRST NAME:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>MIDDLE NAME:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>LAST NAME:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>PERMANENT HOME ADDRESS:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;height:16px;">
                <label></label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;;height:16px;">
                <label></label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>HOW LONG HAVE YOU LIVED AT THIS ADDRESS:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>E-MAIL:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>HOME TELEPHONE:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>MOBILE PHONE:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>DATE OF BIRTH: </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>PLACE OF BIRTH:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>NATIONALITY: </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>SINGLE <input type="checkbox" /> MARRIED<input type="checkbox" />DIVORCED<input type="checkbox" /></label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>PASSPORT #: </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>ISSUE DATE:&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp; EXPIRY DATE:  &nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp;   </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>IF YOU HAVE A SECOND PASSPORT:</label>
                <br />
                <label> ISSUING COUNTRY:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>PASSPORT #: </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>ISSUE DATE:&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp; EXPIRY DATE:  &nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp;   </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label style="font-size:13px;font-weight:800;">EMERGENCY CONTACT</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>NAME:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>ADDRESS:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;height:16px;">
                <label></label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;;height:16px;">
                <label></label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>E-MAIL ADDRESS:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>RELATIONSHIP TO ABOVE?</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>DAYTIME TELEPHONE:  </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>EVENING TELEPHONE: </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>BEST TIME TO CALL: </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label style="font-size:13px;font-weight:800;">OTHER INFORMATION</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label style="font-weight: 900;">
                    VESSEL: Navigator <input type="checkbox" />  Voyager <input type="checkbox" /> Mariner<input type="checkbox" />
                    Marina <input type="checkbox" />  Regatta<input type="checkbox" /> Insignia <input type="checkbox" />  Nautica<input type="checkbox" />
                    Riviera <input type="checkbox" />
                </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>POSITION:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>DATE OF HIRE:</label>
            </div>
        </div>
        <div style="width:50%;border:1px solid;">
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>CLOSEST AIRPORT:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label style="font-size:13px;font-weight:800;">BACKGROUND (mandatory)</label>
            </div>
            <div  style="padding-left:10px;">
                Have you ever been convicted of a felony or a criminal misdemeanor? Yes <input type="checkbox" />  No <input type="checkbox" /> 
                <br />
                If you have checked “yes” above, please provide a brief explanation of the conviction.
                <div style="border-bottom:1px dashed;height:15px;"></div>
                <div style="border-bottom:1px dashed;height:15px;"></div>
                <div style="border-bottom:1px dashed;height:15px;"></div>
                <div style="border-bottom:1px dashed;height:15px;"></div>
            </div>
            <div style="padding-left:10px;border-bottom:1px solid blue;padding-bottom:3px;">
                Have you ever been dismissed from cruise vessel  Yes <input type="checkbox" />  No <input type="checkbox" />   
                <br />            
                If you have checked “yes” above, please provide a brief explanation and dates.    
                <div style="border-bottom:1px dashed;height:15px;"></div>
                <div style="border-bottom:1px dashed;height:15px;"></div>
                <div style="border-bottom:1px dashed;height:15px;"></div>
                <div style="border-bottom:1px dashed;height:15px;"></div>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label style="font-size:13px;font-weight:800;">VISA INFORMATION</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>Do you have a valid C1D visa?</label><br/>
                <input type="checkbox" /> Yes<input type="checkbox" />No &nbsp;&nbsp;<label>If yes please complete the below</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>ISSUE DATE:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>EXPIRY DATE:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>IS THE ABOVE VISA ASSIGNED TO ANOTHER CRUISE LINE ON YOUR VISA – IF SO TO WHOM?</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>DO YOU HAVE ANY KNOWN RESTRICTIONS AS TO ENTRY INTO COUNTRIES?  Yes <input type="checkbox" />  No  <input type="checkbox" /> </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>IF YES WHICH COUNTRIES AND WHY?</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label style="font-size:13px;font-weight:800;">SEAMANS BOOK </label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>Do you have a Seaman’s Book: Yes <input type="checkbox" /> No  <input type="checkbox" /></label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>If yes, what is the issuing Authority?</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>Expiry Date:</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label style="font-size:13px;font-weight:800;">TAX INFORMATION</label>
            </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label>  Are you a US Citizen?     Yes <input type="checkbox" /> No <input type="checkbox" /> </label>
                <br />
                <label>Are you a US Resident Alien? Yes<input type="checkbox" /> No <input type="checkbox" /> </label>
                <br />
                <label>Alien card number (if yes): A</label>
              <br />
                <label>Social Security # (  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; )</label>
                <br />
                <label style="font-size: 10px;"> ALL CITIZENS AND PERMANENT RESIDENTS OF THE UNITED STATES OF AMERICA WILL RECEIVE A 1099 TAX REPORT AT THE END OF THE TAX YEAR. CITIZENS OF OTHER COUNTRIES WILL BE RESPONSIBLE FOR REPORTING THEIR INCOME TO THEIR COUNTRY’S TAX DEP’T</label>
             </div>
            <div style="border-bottom:1px solid blue;padding-left:10px;">
                <label style="font-size:13px;font-weight:800;">DATE FORM COMPLETED &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/</label>
            </div>
        </div>
    </div>
    <div><h4 style="text-align:center;">PLEASE COMPLETE ELECTRONICALLY</h4></div>
</div>
