
@{
    ViewBag.Title = "ContactNCL";
}
<div class="NCL-contact">
    <div class="row">
        <h4 class="profile-view">CONTACT LIST OF PEOPLE AT THE STUDIOS</h4>
        <div class="col-md-4"> 
            <hr />           
            <div class="form-group">
                <label class="control-label ncl-label">IAN HARVEY</label>
            </div>
            <div class="form-group">
                <label class="control-label ncl-label">FACALITIES MANAGER</label>
            </div>
            <div class="form-group">
                <label class="control-label ncl-label">PHONE NUMBER</label>
            </div>
            <div class="form-group">
                <label class="control-label ncl-label">EMAIL</label>
            </div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label ncl-label">CHRIS HOLMES</label>
            </div>
            <div class="form-group">
                <label class="control-label ncl-label">PRODUCTION</label>
            </div>
            <div class="form-group">
                <label class="control-label ncl-label">PHONE NUMBER</label>
            </div>
            <div class="form-group">
                <label class="control-label ncl-label">EMAIL</label>
            </div>
            <hr />
        </div>
    </div>
</div>