
@{
    ViewBag.Title = "CrewData_pdf";
    Layout = null;
}
<div style="width:99%;border:1px solid black;padding:10px;">
    <h4 style="font-weight:800;">Norwegian Cruise Line - Crew Data Form</h4>
    <div class="row" id="First">
        <div>
        <label>Hire Date</label>
  
        <input type="text" style="width:241px;"/>
        <br />
        <span style="padding-left: 80px;">(month)</span><span style="padding-left: 40px;">(day)</span><span  style="padding-left: 40px;">(year)</span>
            <div style="float:right;margin-top:-25px;">
                <label>MAPSID</label>   
                <input type="text"/>
            </div>
        </div>
    </div>
    <div class="row" id="second" style="display:flex;">
        <div style="width:60%">
            <label>Name</label>  
            <input type="text" style="margin-left: 24px;width: 241px;"/>
            <br />
            <span style="padding-left: 80px;">(last)</span><span style="padding-left: 40px;">(First)</span><span style="padding-left: 40px;">(middle)</span>
        </div>
        <div style="width:40%;text-align:right;">
            <label style="float:left;">Dept</label>
            <input type="text" />
            <br />
            <label style="float:left;">Position</label>
            <input type="text" />
            <br />
            <label style="float:left;">Onboard/Ship</label>
            <input type="text" style="margin-right:4px;"/>
        </div>
    </div>
    <div class="row" id="third">
        <label>Address</label>

        <input type="text" style="margin-left: 10px;width: 241px;" />
        <br />
        <input type="text" style="margin-left: 66px;width: 241px;" />
        <div id="address" style="display:flex">
            <div>
                <label>City</label>
                <input type="text" style="width: 110px; margin-left: 34px;"/>
            </div>
            <div>
                <label>Zip</label>
                <input type="text" style="width:105px;"/>
            </div>
        </div>
        <div id="country">
            <label>Country</label>
            <input type="text" style="width: 110px; margin-left:10px;" />
        </div>
    </div>
    <div id="fourth">
        <label>Phone#</label>

        <input type="text" style="width: 241px;margin-left: 14px;margin-top: 10px;" />
        <br />
        <span style="margin-left: 80px;">(country code), (city code), #</span>
    </div>
    <div id="fifth">
        <label>Email</label>

        <input type="text" style="width: 241px;margin-left: 24px;margin-top: 10px;" />    
    </div>
    <div id="six">
        <label>SS#(US Only)</label>

        <input type="text" style="width: 188px;margin-left: 24px;margin-top: 10px;" />
    </div>
    <div id="seven">
        <label>ARC#</label>   
        <input type="text" style="width: 241px;margin-left: 24px;margin-top: 10px;" />
    </div>
    <div id="eight" style="display:flex;margin-top: 10px;">
        <div id="gender" style="width:40%">
            <label>Sex</label>
            <input type="text" style="width:80px;margin-left: 42px;" /><input type="text" style="width:80px;" />
            <br />
            <div style="display:flex;margin-left: 70px;">
                <span style="width:80px;text-align:center;display: block;">male</span>
                <span style="width:80px;text-align:center;display: block;">female</span>
                </div>
            </div>  
        <div id="status" style="width:60%">
            <input type="text" style="width:80px;" /><input type="text" style="width:80px;" /><input type="text" style="width:80px;" /><input type="text" style="width:80px;" /><input type="text" style="width:80px;" />
            <br />
            <div style="display:flex">
                <span style="width:80px;text-align:center;display: block;">single</span>
                <span style="width:80px;text-align:center;display: block;">maried</span>
                <span style="width:80px;text-align:center;display: block;">divorced</span>
                <span style="width:80px;text-align:center;display: block;">widowed</span>
                <span style="width:80px;text-align:center;display: block;">separated</span>
            </div>          
        </div>    
    </div>
    <div id="nine" style="display:flex">
        <div id="dob" style="width:50%">
                <label>D.O.B</label>
                <input type="text" style="width:241px;margin-left: 24px;" />
                
                <br />
                <span style="padding-left: 80px;">(month)</span><span style="padding-left: 40px;">(day)</span><span style="padding-left: 40px;">(year)</span>
       </div>
        <div id="body-features" style="width:50%">
           <input type="text" style="width:80px;" /><input type="text" style="width:80px;" /><input type="text" style="width:80px;" /><input type="text" style="width:80px;" />
            <br />
            <div style="display:flex">           
                <span style="width:80px;text-align:center;display: block;">(hair)</span>
                <span style="width:80px;text-align:center;display: block;">(eyes)</span>
                <span style="width:80px;text-align:center;display: block;">(height)</span>
                <span style="width:80px;text-align:center;display: block;">(weight)</span>
            </div>    
        </div>
    </div>
    <div id="ten" style="display:flex;margin-top:10px;">
        <div id="birthplace" style="width:50%">
            <label>Birthplace</label>

            <input type="text" style="width: 241px;" />
        </div>
        <div id="homeairport" style="width:50%">
            <label>Home Airport</label>

            <input type="text" style="width: 241px;" />
        </div>
    </div>
    <div id="eleven" style="margin-top:10px;">
        <div id="citizen" style="width:50%">
            <label>Citizenship/Country</label>
            <input type="text"/>
        </div>
    </div>
    <div id="twelve" style="display:flex;margin-top:10px;">
        <div id="passport" style="width:50%">
            <label>Passport #</label>
            <input type="text" style="margin-left: 64px;"/>
        </div>
        <div id="p_date" style="width:50%">
            <label>Passport Issue Date</label>
            <input type="text" style="width:180px;margin-left: 24px;" />
            <br />
            <span style="padding-left:20px;margin-left:140px;">(month)</span><span style="padding-left: 20px;">(day)</span><span style="padding-left: 20px;">(year)</span>
        </div>
    </div>
    <div id="thirteen" style="display:flex">
        <div id="country-issue" style="width:50%">
            <label>Country / City of issue:</label>
            <input type="text" style="width: 150px;"/>
        </div>
        <div id="i-date" style="width:50%">
            <label>Passport Expire Date</label>
            <input type="text" style="width:180px;margin-left: 24px;" />
            <br />
            <span style="padding-left:20px;margin-left:140px;">(month)</span><span style="padding-left: 20px;">(day)</span><span style="padding-left: 20px;">(year)</span>
        </div>
    </div>
    <div id="fortheen" style="display:flex">
        <div id="visa" style="width:50%">
            <label>Visa #</label>
            <input type="text" style="margin-left: 86px;"/>
        </div>
        <div id="v_date" style="width:50%">
            <label>C-1/D visa expires</label>
            <input type="text" style="width:180px;margin-left: 24px;" />
            <br />
            <span style="padding-left:20px;margin-left:140px;">(month)</span><span style="padding-left: 20px;">(day)</span><span style="padding-left: 20px;">(year)</span>
        </div>
    </div>
    <div id="fifteen">
        <label>Date of last physical exam</label>
            <input type="text" style="width:200px;margin-left: 24px;" />
        <br />
        <span style="padding-left: 80px;margin-left: 110px;">(month)</span><span style="padding-left: 40px;">(day)</span><span style="padding-left: 40px;">(year)</span>
    </div>
    <div id="sixteen">
        <label>Languages (other than English)</label>
        <input type="text" style="width: 210px;" />
    </div>
    <div id="seventeen" style="display:flex">
        <div id="emergency-contact" style="width:40%;">
            <h4 style="font-weight:800;text-decoration:underline">Emergency Contact</h4>
            <div class="row" style="margin-top:10px">
                <label>Name</label>
                <input type="text" style="margin-left: 42px;"/>
            </div>
            <div class="row" style="margin-top:10px">
                <label>Relationship</label>
                <input type="text" />
            </div>
            <div class="row" style="margin-top:10px">
                <label>Address</label>
                <input type="text" style="margin-left:29px;"/>
            </div>
            <div class="row">
                <label></label>
                <input type="text" style="margin-left:85px;"/>
            </div>
            <div class="row" style="margin-top:10px">
                <label>City/State</label>
                <input type="text" style="margin-left:18px;"/>
            </div>
            <div class="row">
                <label>Country</label>
                <input type="text" style="margin-left:30px;"/>
            </div>
            <div class="row">
                <label>Phone#</label>
                <input type="text" style="margin-left:34px;"/>
            </div>
            <div class="row">
                <label>Other# ie:</label>
                <input type="text" style="margin-left:18px;"/>
            </div>
            <div class="row">
                <label>Fax/Cell</label>
                <input type="text" style="margin-left:27px;"/>
            </div>
        </div>
        <div id="depantant-information" style="width:60%;">
            <h4 style="font-weight:800;text-decoration:underline">Depandent Information</h4>
            <div class="row" style="margin-top:10px">
                <label>Name</label>
                <input type="text"/>
                <label>Date Of Birth</label>
                <input type="text" style="width:100px;"/>
            </div>
            <div class="row" style="margin-top:10px">
                <label>Name</label>
                <input type="text" />
                <label>Date Of Birth</label>
                <input type="text" style="width:100px;"/>
            </div>
            <div class="row" style="margin-top:10px">
                <label>Name</label>
                <input type="text" />
                <label>Date Of Birth</label>
                <input type="text" style="width:100px;"/>
            </div>
            <div class="row" style="margin-top:10px">
                <label>Name</label>
                <input type="text" />
                <label>Date Of Birth</label>
                <input type="text" style="width:100px;"/>
            </div>
        </div>
    </div>
    <div id="eighteen" style="display:flex;margin-top:10px;">
        <div id="sign-off" style="width:50%">
            <label>Sign Off Date</label>
            <input type="text" />
        </div>
        <div id="signature" style="width:50%;">
            <label>Signature</label>
            <input type="text" style="border:none;border-bottom:1px solid black; width:240px;" />
        </div>
    </div>
</div>

