
@{
    ViewBag.Title = "FinanceAndPayments";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h4 class="profile-view">Finance And Payments</h4>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="FNPmenu" >
        <li role="presentation" class="active"><a aria-controls="W9" role="tab" data-toggle="tab"  value="W9">W9</a></li>
        <li role="presentation"><a  aria-controls="Fast Pay" role="tab" data-toggle="tab"  value="FASTPAY">Fast Pay</a></li>
        <li role="presentation"><a  aria-controls="New Vendor" role="tab" data-toggle="tab" value="NEWVENDOR">New Vendor</a></li>
        <li role="presentation"><a  aria-controls="Vendor Payment" role="tab" data-toggle="tab" value="VENODRPAYMENT">Vendor Payment</a></li>
    </ul>
    <div class="row">
        <div class="col-md-6 col-md-offset-6 text-right print">
            <a href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Print</a>
            <a href="#"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Download</a> 
            <a href="#"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>Submit</a>  
        </div>
    </div>
    <!-- Tab panes -->
    <div id="dataContainer">
    </div>
</div>
<script>
    $(document).on('click', '#FNPmenu>li', function () {

        var value = $(this).find('a').attr('value');

        switch(value.toUpperCase())
        {
            case "W9":
                $('#dataContainer').load('/UserHome/w9');
                break;
            case "FASTPAY":
                $('#dataContainer').load('/UserHome/FastPay');
                break;
            case "NEWVENDOR":
                $('#dataContainer').load('/UserHome/NewVendor');
                break;
            case "VENDORPAYMENT":
                $('#dataContainer').load('/UserHome/VendorPayment');
                break;
        }

    });
</script>