@model CruiseEntertainmentManagnmentSystem.ViewModel.TRFDataViewModel

@{
    ViewBag.Title = "TRF";
    Layout = ViewBag.Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2 class="row title topbottomspace">TRF</h2>




<div id="dataContainer">
      @Html.Action("GetAllTRF")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
