<style>
    .off {
        background-color: beige;
    }
</style>
<script>

    $(document).ready(function () {

        $(".date").datepicker({
            changeMonth: true,//this option for allowing user to select month
            changeYear: true //this option for allowing user to select from year range
        });
    });
</script>

<div style="padding-left:15px;padding-right:15px;" class="schedule">
    <div class="section">
        <div class='row text-right'><span id='closebtn' style='font-size: 19px;border: 1px solid #BFBFBF;margin-right: 3px;color: #A7A7A7;font-weight: bold;cursor:pointer'>&nbsp;X&nbsp;</span></div>
        <div class="row">
            <h3 class="popup-heading"> Schedule for Cruise: @ViewBag.CruiseName</h3>
            <input type="hidden" id="CruiseID" value="@ViewBag.CruiseID" />
            @*<input type="button" onclick="countTask()" value="count" />*@
            @*@Html.DropDownList("Cruises")*@
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label class="date">Start Date</label>
            </div>
            <div class="col-md-4" >
                <input type="text" class="date" id="S_startDate" style="width:100%;" @*class="wrap-content"*@ />
            </div>
            <div class="col-md-2">
                <label class="date">End Date</label> 
            </div>
            <div class="col-md-4">
                <input type="text" class="date" id="S_endDate" style="width:100%;" @*class="wrap-content"*@ />
            </div>
        </div>
        <br />
        @*<div class="row">
                <div class="col-md-3">
                    NO. Of Days
                </div>
                <div>
                    <input type="number" min="1" max="365" id="ndays" />
                </div>
            </div>*@

    </div>
    <div class="section">
        <div class="row">
           <p class="text">Tasks for the Schedule(Note:Should be in Order)</p> 
        </div>
        <br />
        <div class="row" style="overflow-y: scroll;height: 234px;border: 1px solid #B7B7B7;border-radius: 6px;">
            <table border="1" id="TaskTable" style="border-color: azure;" class="table table-bordered table-condensed">
                <tr>
                    <th>Task Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Days</th>
                    <th>Action</th>
                </tr>
                <tr class="edittr">
                    <td><div id="dropdown">@Html.DropDownList("TaskName", "select--")</div></td>
                    <td><input type="text" class="date" name="StDate" id="StDate" style="width:100%;" /></td>
                    <td><input type="text" class="date" name="EDate" id="EDate" style="width:100%;" /></td>
                    <td><input type="number" name="Days" id="Days" value="" class="wrap-content" /></td>
                    <td><input type="button" name="tskbtn" class="Tbtn wrap-content" value="Add" id="tskbtn"/> </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row">
        <input type="button" id="offbtn" value="Proceed"/>
    </div>

</div>